:root{
    --tipografiaTitulos: 'Raleway', sans-serif;
    --tipografiaEmilia : 'Work Sans',sans-serif;
    --tipografiaGeneral : 'Open Sans', sans-serif;
}

.home{
    width: 100%;
    height:100%
}
.about{
    width: 100%;
    height:100%
}
.contact{
    width: 100%;
    height:100%
}
.music{
    width: 100%;
    height:100%
}

body {
    font-family: var(--tipografiaGeneral);
}

h1 {
    font-family: var(--tipografiaTitulos);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}






